.featured-categories_container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;

  .categorie_div {
    width: 43vw;
    // margin: 5vw 5vw;
    position: relative;
    p {
      position: absolute;
      bottom: 15%;
      left: 15%;
      font-style: italic;
      font-family: "Roboto";
      letter-spacing: 2px;
      transform: matrix(1, -0.01, 0.01, 1, 0, 0);
      text-shadow: 4px 2px 5px #000000b8;
      color: white;
      font-size: 4vw;
    }
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .link {
    display: none;
  }

  .featured-categories_container {
    flex-direction: column;
    align-items: center;

    .categorie_div {
      width: 85vw;
      margin-top: 20px;
      p {
        font-size: 7.5vw;
      }
    }
  }
}
