@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@300&family=Nunito:wght@800&family=Roboto:wght@900&display=swap');

// font-family: 'Bebas Neue', cursive; icon app
// font-family: 'Heebo', sans-serif; search input
// font-family: 'Nunito', sans-serif;  titles
// font-family: 'Roboto', sans-serif; featured categories

html{
  scroll-snap-align: none;
  scroll-snap-align:  end; 
    scroll-snap-type: x proximity;
  // scroll-snap-align: center;
  // scroll-snap-align: inherit;
// scroll-snap-align: initial;
// scroll-snap-align: revert;
// scroll-snap-align: unset;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

input:focus,
button:focus {
  outline: none;
}

.principal-dark__button,
.principal-light__button {
  padding: 8px 10px;
  font-size: 12px;
  width: fit-content;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 33px;
  cursor: pointer;
  min-width: 100px;
}

.principal-dark__button:hover,
.principal-light__button:hover{
  // transform: scale(1.2);
  filter: invert(1);
}

.principal-light__button {
  background-color: white;
  border: solid 1px black;
}

.principal-dark__button {
  background-color: rgb(0, 0, 0);
  color: white;
}


.phone{
  display: none;
}

@media only screen and (max-width: 768px) {
  .phone{
    display: initial;
  }

  
}

